// 鼠标指针控制
body
  cursor url('/cursor/default.cur'), auto

body
  .header
    .banner
      cursor url('/cursor/default.cur'), auto

.container
  aside
    .info-card
      .info-card-body
        cursor url('/cursor/default.cur'), auto

a, button, #goTop, .jump, h1, .info-avatar, .post-tag, .info-wrapper .tags span, pagation-list span, .back-to-ceiling
  cursor url('/cursor/link.cur'), auto!important

.abstract-wrapper div, .abstract-wrapper span
  cursor url('/cursor/link.cur'), auto!important

.page-title .tag-item, .valine-wrapper .vrow span
  cursor url('/cursor/link.cur'), auto!important

.aplayer .aplayer-icon, .aplayer .aplayer-button
  cursor url('/cursor/link.cur'), auto!important